@model PartyInvitationApp.Models.Party
@{
    Layout = "_Layout.cshtml";
    ViewData["Title"] = "Manage Party";
}

<h2>Manage Party: @Model.Description</h2>
<p>
    Date: @Model.DateOfParty.ToShortDateString() <br />
    Location: @Model.Location
</p>

<h4>Stats:</h4>
<ul>
    <li>Not Sent: @ViewBag.NotSent</li>
    <li>Sent: @ViewBag.Sent</li>
    <li>Yes: @ViewBag.YesCount</li>
    <li>No: @ViewBag.NoCount</li>
</ul>

<hr />

<h3>Invitations</h3>
<table class="table">
    <thead>
        <tr>
            <th>Guest Name</th>
            <th>Guest Email</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var invite in Model.Invitations)
        {
            <tr>
                <td>@invite.GuestName</td>
                <td>@invite.GuestEmail</td>
                <td>
                    @if (invite.Status == InvitationStatus.InviteSent)
                    {
                        <span class="text-info">Invitation Sent</span>
                    }
                    else if (invite.Status == InvitationStatus.RespondedYes)
                    {
                        <span class="text-success">Attending</span>
                    }
                    else if (invite.Status == InvitationStatus.RespondedNo)
                    {
                        <span class="text-danger">Not Attending</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>


<!-- ADD NEW INVITATION FORM -->
<h4>Add a New Invitation</h4>
<form asp-action="Create" asp-controller="Invitation" method="post">
    <input type="hidden" name="partyId" value="@Model.Id" />
    <div class="form-group">
        <label>Guest Name</label>
        <input name="GuestName" class="form-control" required />
    </div>
    <div class="form-group">
        <label>Guest Email</label>
        <input name="GuestEmail" type="email" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary">Add &amp; Send Email</button>
</form>


<hr />

<!-- SEND ALL UNSENT INVITATIONS -->
<h4>Or Send All Unsent Invitations</h4>
<form asp-action="SendAll" asp-controller="Invitation" method="post">
    <input type="hidden" name="partyId" value="@Model.Id" />
    <button type="submit" class="btn btn-success">Send All Unsent</button>
</form>

<hr />
<a asp-action="Index" class="btn btn-secondary mt-3">Back to All Parties</a>
